/** pour annuler les mises en forme par defaut du navigateur*/
*{
    padding: 0;
    margin: 0;
}

body{
   color: #210b0b;
   background-color: #dedcd9;
   
}
.link{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px 10px 15px ;
}
.footer{
    padding: 20px 10px;
}

.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /**  espacer le contenu de main equitablement sur l'ecran*/
}
.home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.font-normal{
    font-size: 16px;
    font-weight: normal;

}
.card {
    border: 3px solid #00ff0d ;
    flex-direction: column;
    align-items: center;
    gap: 10px ;


}
.ul{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

