/** pour annuler les mises en forme par defaut du navigateur*/
*{
    padding: 0;
    margin: 0;
}

body{
   color: #210b0b;
   background-color: #dedcd9;
   
}
.main {
    min-height: 100vh;
    }

.declaration{
    font-size: 10px;
}